body {
	background: #fff;
}

#game-board {
	padding: 1em;
	max-width: 950px;
	/*height: 100%;*/
	margin: 0 auto;
	/*background: */
}

.first-color,
.complement,
.card {
	min-width: 100px;
	min-height: 100px;
	/*max-width: 10%;*/
	/*max-height: 10%;*/
	background: #ff6943;
	margin: 8px;
	display: inline-block;
	border-radius: 50%;
	border: 2px solid #222	;
	padding: 1em;
}
.card:hover {
	cursor: pointer;;
}

.board-row {

}
.card.selected {
	opacity: .8;
    border: 2px solid red;
    box-shadow: 2px 2px 2px #777;
}

.card.selected.chosen {
	background: black;
	
}